.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 8px;
}

.info p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  font-size: 14px;
}

.deleteBtn {
  padding: 6px 10px;
  cursor: pointer;
}

.icon {
  color: black;
}